@font-face {
  font-family: 'ElegantIcons';
  src: url("../fonts/ElegantIcons.eot");
  src: url("../fonts/ElegantIcons.eot?#iefix") format("embedded-opentype"), url("../fonts/ElegantIcons.woff") format("woff"), url("../fonts/ElegantIcons.ttf") format("truetype"), url("../fonts/ElegantIcons.svg#ElegantIcons") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: milton;
  src: url("../fonts/Milton_Two_Bold.otf"); }
@font-face {
  font-family: Angelique;
  src: url("../fonts/Angelique-Rose-font-FFP.otf"); }
@font-face {
  font-family: victorian;
  src: url("../fonts/Victorian Parlor Vintage Alternate_free.ttf"); }
@font-face {
  font-family: Springtime;
  src: url("../fonts/MRF Springtime Blues Two.ttf"); }
header {
  border-bottom: 1px solid lightblue;
  background-color: #FFF;
  position: fixed;
  width: 100%;
  z-index: 100; }
  header #title {
    font-family: Angelique;
    font-size: 1.5em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: black;
    text-shadow: 2px 2px lightblue;
    display: inline-block; }
    header #title figure {
      background-image: url("../img/kian-header.jpg");
      width: 30px;
      height: 30px;
      vertical-align: middle;
      display: inline-block;
      margin: 0;
      background-size: cover;
      background-position: -5px 0px;
      background-repeat: no-repeat;
      border-radius: 50%;
      margin-right: 5px; }
  header .burger-navigation {
    font-size: 1.7em;
    display: inline-block;
    margin: 5px 6px 6px 6px; }
  header span {
    vertical-align: middle; }

.head-collapse {
  position: fixed;
  top: 46px;
  background-color: #FFF;
  z-index: 100;
  width: 100%;
  display: none; }
  .head-collapse ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    border-bottom: 1px solid lightblue; }
    .head-collapse ul li {
      padding: 10px 20px;
      border-top: 1px solid lightblue; }
      .head-collapse ul li a {
        font-family: Angelique;
        text-shadow: 2px 2px lightblue;
        font-size: 1.8em;
        text-decoration: none;
        display: block;
        color: #000; }

.intro {
  width: 100%;
  height: auto;
  padding: 5px 0;
  padding-top: 45px;
  background-color: aliceblue; }
  .intro title {
    display: block;
    font-family: milton;
    font-size: 3.5em;
    margin: 10px;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 2px 2px lightblue; }
  .intro .join-us {
    width: 90%;
    margin: 0 auto; }
    .intro .join-us p {
      font-family: Springtime;
      font-size: 1em;
      line-height: 1.4em;
      text-align: center;
      font-weight: 100; }
  .intro .card {
    width: 90%;
    height: 250px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 70px lightblue;
    position: relative; }
    .intro .card div {
      display: inline-block;
      width: 100%;
      height: 100%; }
      .intro .card div.first {
        background-image: url("../img/kian-2.jpg");
        background-size: cover; }
      .intro .card div.second {
        background-image: url("../img/kian-3.jpg");
        background-size: cover;
        background-position: center; }
      .intro .card div.third {
        background-image: url("../img/kian-4.jpg");
        background-size: cover;
        background-position: center; }
      .intro .card div.fourth {
        background-image: url("../img/kian-5.jpg");
        background-size: cover;
        background-position: center; }

#about {
  height: 400px;
  position: relative;
  background-color: aliceblue; }
  #about h1 {
    font-family: milton;
    font-weight: normal;
    text-align: center;
    font-size: 3.5em;
    text-shadow: 2px 2px lightblue;
    margin: 0;
    padding: 10px 0 0 0; }
  #about p {
    margin: 0 auto;
    font-family: Springtime;
    width: 80%;
    font-size: 1.2em;
    text-align: center; }
  #about div {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0; }
    #about div.first {
      background-image: url("../img/about-1.jpg");
      top: 190px;
      right: 105px;
      z-index: 10;
      -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
      transform: rotate(-2deg); }
    #about div.second {
      background-image: url("../img/about-2.jpg");
      top: 260px;
      right: 194px;
      -webkit-transform: rotate(-16deg);
      -ms-transform: rotate(-16deg);
      transform: rotate(-16deg); }
    #about div.third {
      background-image: url("../img/about-3.jpg");
      top: 260px;
      right: 30px;
      -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg);
      background-position: left; }
    #about div.fourth {
      background-image: url("../img/about-4.jpg");
      top: 230px;
      right: 30px;
      -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg);
      background-position: left;
      display: none; }

#church {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background-color: aliceblue; }
  #church h1 {
    font-family: milton;
    font-weight: normal;
    text-align: center;
    font-size: 3.5em;
    margin: 0;
    padding: 10px 0;
    text-shadow: 2px 2px lightblue; }
  #church h2 {
    font-family: Springtime;
    font-weight: normal;
    text-align: center;
    margin: 0 0 5px 0; }
  #church .address {
    width: 87%;
    margin: 0 auto 20px auto; }
    #church .address span {
      font-size: 1.2em;
      display: inline-block; }
    #church .address p {
      font-size: .90em;
      font-family: Springtime;
      display: inline-block;
      margin: 0; }
  #church .map-church-wrapper {
    width: 90%;
    height: 400px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 10; }
    #church .map-church-wrapper #map-church {
      z-index: 100;
      height: 50%;
      width: 100%;
      border-top-left-radius: 10%;
      border-top-right-radius: 10%;
      box-shadow: 0 -8px 46px -4px lightblue; }
    #church .map-church-wrapper #pano {
      z-index: 100;
      height: 50%;
      width: 100%;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
      box-shadow: 0 8px 46px -4px lightblue; }
    #church .map-church-wrapper .preloader {
      z-index: 10;
      position: absolute;
      width: 30px;
      height: 30px;
      background-size: cover;
      background-image: url("../img/Spin and pulsate.gif");
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

#reception {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background-color: aliceblue; }
  #reception h1 {
    font-family: milton;
    font-weight: normal;
    text-align: center;
    font-size: 3.5em;
    margin: 0;
    padding: 10px 0;
    text-shadow: 2px 2px lightblue; }
  #reception h2 {
    font-family: Springtime;
    font-weight: normal;
    text-align: center;
    margin: 0 0 5px 0; }
  #reception .address {
    width: 87%;
    margin: 0 auto 20px auto; }
    #reception .address span {
      font-size: 1.2em;
      display: inline-block; }
    #reception .address p {
      font-size: .90em;
      font-family: Springtime;
      display: inline-block;
      margin: 0; }
  #reception .map-reception-wrapper {
    width: 90%;
    height: 400px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 10; }
    #reception .map-reception-wrapper #map-reception {
      z-index: 100;
      height: 50%;
      width: 100%;
      border-top-left-radius: 10%;
      border-top-right-radius: 10%;
      box-shadow: 0 -8px 46px -4px lightblue; }
    #reception .map-reception-wrapper #pano-2 {
      z-index: 100;
      height: 50%;
      width: 100%;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
      box-shadow: 0 8px 46px -4px lightblue; }
    #reception .map-reception-wrapper .preloader {
      z-index: 10;
      position: absolute;
      width: 30px;
      height: 30px;
      background-size: cover;
      background-image: url("../img/Spin and pulsate.gif");
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'ElegantIcons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
