@font-face {
	font-family: 'ElegantIcons';
	src:url('../fonts/ElegantIcons.eot');
	src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: milton;
    src: url('../fonts/Milton_Two_Bold.otf');
}

@font-face {
    font-family: Angelique;
    src: url('../fonts/Angelique-Rose-font-FFP.otf');
}

@font-face {
	font-family : victorian;
	src: url('../fonts/Victorian Parlor Vintage Alternate_free.ttf');
}

@font-face {
	font-family : Springtime;
	src: url('../fonts/MRF Springtime Blues Two.ttf');
}

// 320 width
header {

	border-bottom: 1px solid lightblue;
	background-color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 100;

	#title {
		font-family: Angelique;
	    font-size: 1.5em;
	    text-align: left;
	    padding-top: 5px;
	    padding-bottom: 10px;
	    padding-left: 10px;
	    color: black;
	    text-shadow: 2px 2px lightblue;
	    display: inline-block;
		cursor: pointer;
		
	    figure {

	    	background-image: url('../img/kian-header.jpg');
	    	width: 30px;
	    	height: 30px;
	    	vertical-align: middle;
	    	display: inline-block;
	    	margin: 0;
	    	background-size	: cover;
	    	background-position: -5px 0px;
	    	background-repeat: no-repeat;
	    	border-radius: 50%;
	    	margin-right: 5px;

	    }

	}

	.burger-navigation {
		font-size: 1.7em;
	    display: inline-block;
	    margin: 5px 6px 6px 6px;

	}

	span  {
		vertical-align: middle;
	}
}

.head-collapse {
	position: fixed;
    top: 45px;
    background-color: #FFF;
    z-index: 100;
    width: 100%;
    display: none;
    ul {
    	list-style: none;
    	padding-left: 0;
		margin: 0;
		border-bottom: 1px solid lightblue;
		li {
			padding: 10px 20px;
			border-top: 1px solid lightblue;
			&.active {
				border-bottom: 2px solid lightblue;
			}
			a{
				font-family: Angelique;
				text-shadow: 2px 2px lightblue;
				font-size: 1.8em;
				text-decoration: none;
				display: block;
				color: #000;
			}
		}
    }
}

.intro {
	width: 100%;
	height: auto;
	padding: 5px 0;
	padding-top: 45px;
	background-color: aliceblue;
	title {
	    	display: block;
	    	font-family: milton;
	    	font-size: 3.5em;
    		margin: 10px;
    		margin-bottom: 0px;
    		text-align: center;
    		text-shadow: 2px 2px lightblue;
	    }
	.join-us {
		width: 90%;
    	margin: 0 auto;
    	p {
    		font-family: Springtime;
    		font-size: 1em;
    		line-height: 1.4em;
    		text-align: center;
    		font-weight: 100;
    	}
	}

	.card {
		width: 90%;
	    height: 250px;
	    display: block;
	    margin: 0 auto;
	    box-shadow: 0 0 70px lightblue;
	    position: relative;



	    div{
    		display: inline-block;
    		width: 100%;
    		height: 100%;
    		
    		&.first {
			    background-image: url('../img/kian-2.jpg');
			    background-size: cover;

    		}
    		&.second {
			    background-image: url('../img/kian-3.jpg');
			    background-size: cover;
			    background-position: center;
    		}
    		&.third {
			    background-image: url('../img/kian-4.jpg');
			    background-size: cover;
			    background-position: center;
    		}
    		&.fourth {
			    background-image: url('../img/kian-5.jpg');
			    background-size: cover;
			    background-position: center;
    		}
    		&.fifth {
			    background-image: url('../img/kian-6.jpg');
			    background-size: cover;
			    background-position: center;
    		}
    		&.six {
			    background-image: url('../img/kian-7.jpg');
			    background-size: cover;
			    background-position: center;
    		}
	    }
	}
}

#about {
	height: 450px;
	position: relative;
	// background-image: url('../img/about-background.png');
	// background-image: url('../img/about-background.jpg');
	// background-position: center;
	// background-size: cover;
	background-color: aliceblue;

	h1 {
		
		font-family: milton;
		font-weight: normal;
	    text-align: center;
	    font-size: 3.5em;
	    text-shadow: 2px 2px lightblue;
	    margin: 0;
	    padding: 10px 0 0 0;

	}
	p {
		margin: 0 auto;
		font-family: Springtime;
		width: 80%;
		font-size: 1.2em;
		text-align: center;
		line-height: 1.5;
	}

	div {
	    display: block;
	    width: 90%;
	    height: 220px;
	    margin: 10px auto 0 auto;
	    background-size: cover;
	    background-position: center;
		
		&.first {
			background-image: url('../img/about-1.jpg');
    		margin: 0 5px;
		}
		&.second {
			background-image: url('../img/about-2.jpg');
			margin: 0 5px;
		}
		&.third {
			background-image: url('../img/about-3.jpg');
			margin: 0 5px;

		}
		&.fourth {
			background-image: url('../img/about-4.jpg');
			margin: 0 5px;
		}
		&.fifth {
			background-image: url('../img/about-5.jpg');
			margin: 0 5px;
		}
		&.six {
		    background-image: url('../img/about-6.jpg');
		    margin: 0 5px;
		}


	}
}


#church {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	background-color: aliceblue;

	h1 {
		
		font-family: milton;
		font-weight: normal;
	    text-align: center;
	    font-size: 3.5em;
	    margin: 0;
	    padding: 10px 0;
		text-shadow: 2px 2px lightblue;


	}

	h2 {

		font-family: Springtime;
	    font-weight: normal;
	    text-align: center;
	    margin: 0 0 5px 0;
	}

	.address {
		text-align: center;
		span {
			font-size: 1.2em;
			display: inline-block;
		}
		p {
			font-size: .90em;
			font-family: Springtime;
			display: inline-block;
    		margin: 0;
		}
		width: 87%;
    	margin: 0 auto 20px auto;
	}

	.map-church-wrapper {
		width: 90%;
		height: 400px;
		display: block;
		margin: 0 auto;
		position: relative;
		z-index: 10;

		#map-church {
			z-index: 100;
			height: 50%;
			width: 100%;
			border-top-left-radius: 20px;
    		border-top-right-radius: 20px;
    		box-shadow: 0 -8px 46px -4px lightblue;
		}
		#pano {
			z-index: 100;
			height: 50%;
			width: 100%;
			border-bottom-left-radius: 20px;
    		border-bottom-right-radius: 20px;
    		box-shadow: 0 8px 46px -4px lightblue;

		}
		.preloader {
			z-index: 10;
			position: absolute;
			width: 30px;
			height: 30px;
			background-size: cover;
			background-image: url('../img/Spin and pulsate.gif');
			top: 50%;
		    left: 50%; 
		   -webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%); 
		   -ms-transform: translate(-50%, -50%); 
		   -o-transform: translate(-50%, -50%); 
		   transform: translate(-50%, -50%); 
		}
	}
}


#reception {

	width: 100%;
	height: auto;
	padding-bottom: 20px;
	background-color: aliceblue;

	h1 {
		
		font-family: milton;
		font-weight: normal;
	    text-align: center;
	    font-size: 3.5em;
	    margin: 0;
	    padding: 10px 0;
		text-shadow: 2px 2px lightblue;


	}

	h2 {

		font-family: Springtime;
	    font-weight: normal;
	    text-align: center;
	    margin: 0 0 5px 0;
	}

	.address {
		text-align: center;
		span {
			font-size: 1.2em;
			display: inline-block;
		}
		p {
			font-size: .90em;
			font-family: Springtime;
			display: inline-block;
    		margin: 0;
		}
		width: 87%;
    	margin: 0 auto 20px auto;
	}

	.map-reception-wrapper {
		width: 90%;
		height: 400px;
		display: block;
		margin: 0 auto;
		position: relative;
		z-index: 10;

		#map-reception {
			z-index: 100;
			height: 50%;
			width: 100%;
			border-top-left-radius: 20px;
    		border-top-right-radius: 20px;
    		box-shadow: 0 -8px 46px -4px lightblue;
		}

		#pano-2 {
			z-index: 100;
			height: 50%;
			width: 100%;
			border-bottom-left-radius: 20px;
    		border-bottom-right-radius: 20px;
    		box-shadow: 0 8px 46px -4px lightblue;

		}
		.preloader {
			z-index: 10;
			position: absolute;
			width: 30px;
			height: 30px;
			background-size: cover;
			background-image: url('../img/Spin and pulsate.gif');
			top: 50%;
		    left: 50%; 
		   -webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%); 
		   -ms-transform: translate(-50%, -50%); 
		   -o-transform: translate(-50%, -50%); 
		   transform: translate(-50%, -50%); 
		}
	}
}

#contact-us {
	background-color: aliceblue;
	width: 100%;
	h1 {
		margin: 0;
		font-family: milton;
		font-weight: normal;
	    text-align: center;
	    font-size: 3.5em;
	    text-shadow: 2px 2px lightblue;
	    padding: 10px 0 0 0;
	}
	a {
		color: #000;
		text-decoration: none;
	}
	span {
		font-family: Springtime;
	    font-weight: normal;
	    text-align: center;
	    // margin: 0 0 5px 0;
	    margin-right: 10px;
	    font-size: 1.5em;
	    // margin: 20px 20px 20px 0;
	}
	.wrapper {
		// width: 60%;
		display: block;
		margin: 0 auto;
		padding-bottom: 20px;
		text-align: center;

		div {
			padding: 10px 0;
		}
	}
}


@media screen and (min-width: 400px) {
	#about {
		div {
			&.fourth {
				// display: block;
			}
		}
	}
}

@media screen and (min-width: 568px) {
	.intro {
		.card {
			height: 400px;
		}
		.join-us {
			p {
				font-size: 1.3em;
				br {
					display: none;
				}
			}
		}
	}
	#about {
		p {
			font-size: 1.3em;
		}
		div {

		}
	}
	#church {
		h2 {
			font-size: 2em;
		}
		.address {
			p {
				font-size: 1.3em;
			}
			span {
				font-size: 1.6em;
			}
		}
		.map-church-wrapper {
			height: 550px;
		}
	}
	#reception {
		h2 {
			font-size: 2em;
		}
		.address {
			p {
				font-size: 1.3em;
			}
			span {
				font-size: 1.6em;
			}
		}
		.map-reception-wrapper {
			height: 550px;
		}
	}
}

@media screen and (min-width: 768px) {
	body {
		background-color: aliceblue;
	}
	.intro {
		width: 70%;
		display: block;
		margin: 0 auto 20px auto;
		.card {
			margin-top: 10px;
		}
	}
	#about {
		height: 400px;
		width: 70%;
		display: block;
		margin: 0 auto 50px auto;
	}

	#church {
		width: 70%;
		display: block;
		margin: 0 auto 50px auto;
	}

	#reception {
		width: 70%;
		display: block;
		margin: 0 auto 50px auto;
	}
	
}

@media screen and (min-width: 1024px) {
	header {
		.burger-navigation {
			display: none;
		}
		#title {
			padding-top: 15px;
		}
		.head-collapse {
			display: inline-block !important;
			float: right;
			width: auto;
			position: relative;
			top: 0;
			ul {
				display: inline-block;
				border: 0;
				li {
					display: inline-block;
					border: 0;
					&:hover {
						border-bottom: 2px solid lightblue;
					}
				}
			}
		}
	}
	.intro {
		padding-top: 70px;
		title {
			margin-bottom: 20px;
		}

	}

	#about {
		height: 400px;
		div {
			margin-top: 10px;
			width: 80%;
			height: 250px;
		}
	}

	#church {
		.address {
			margin-bottom: 30px;
		}
	}

	#reception {
		.address {
			margin-bottom: 30px;
		}
	}
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'ElegantIcons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}